<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fanas</title>
    </head>

    <body>
    {{!-- {{> customer/header}} --}}
            {{{body}}}
    {{!-- {{> customer/footer}} --}}

        <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
        <script src="/js/passwordToggle.js"></script>
        <script src="/js/calcPrice.js"></script>
    </body>
</html>