* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  font-family: Inter;
  line-height: 16px;
}

.app_body {
  max-width: 430px;
  width: 100%;
  height: 932px;
  background: linear-gradient(360deg, #E4F2FF 0%, #CBB7DA 50%, #32587A 100%);
  font-size: 1.7rem;
  position: relative;
}

.detail_body {
  overflow: auto;
  height: 100%;
}

.box-temp3 {
  padding: 17px;
}

.detail_header {
  position: absolute;
  top: 0;
  padding: 13px;
  width: 100%;
}

.header_info {
  width: 100%;
}

.header_info .icon {
  width: 100%;
  display: flex;
  font-size: 3.7rem;
  justify-content: space-between;
  cursor: pointer;
}

.header_info .icon span {
  display: block;
}

.info_book img {
  width: 184px;
  height: 313px;
  border-radius: 14px;
  object-fit: cover;
}

.info_book {
  text-align: center;
}

.info_book span {
  display: block;
  margin-bottom: 1.7rem;
}

.info_book h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
  padding: 17px 0;
}

.info_book .actor {
  font-weight: 700;
}

/* COLOR STAR */
.info_book span .fa-star,
.info_book span .fa-star-half-stroke,
.info_book span .fa-star {
  color: #949191;
  /* Thay đổi màu của các ngôi sao */

}

.info_book span .fa-regular.fa-star {
  color: #949191;
  /* Thay đổi màu của các ngôi sao rỗng */
}

.header_like {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.header_like .non-heart {
  font-size: 30px;
}

.header_like .heart {
  font-size: 30px;
}

.header_like i:hover {
  color: rgba(255, 0, 0, 0.677);
}

.heart {
  display: none;
  color: rgba(255, 0, 0, 0.677);
}

.header_like span {
  text-align: center;
  padding: 7px 0;
  width: 346px;
  border-radius: 23px;
  background-color: #d9d9d9ab;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 18.15px;
  margin-left: 20px;
}

.header_like span:hover {
  background-color: #d9d9d964;
}

.header_cost {
  width: 100%;
  background-color: #fff;
  border-radius: 48px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_cost-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 18px;
  color: #396E9E;
  font-size: 17px;
  font-weight: 500;
  line-height: 18.15px;
  align-items: center;
}

.header_cost-info input {
  width: 30px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  width: 25px;
  /* Kích thước của checkbox */
  height: 25px;
  /* Kích thước của checkbox */
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ccc;
  border-radius: 4px;
  /* Bo góc cho checkbox */
}

.custom-checkbox input:checked~.checkmark {
  background-color: #2196F3;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked~.checkmark::after {
  display: block;
}

.custom-checkbox .checkmark::after {
  left: 8px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.header_cost-box {
  width: 350px;
  height: 44px;
  border-radius: 48px;
  opacity: 0px;
  background: linear-gradient(90deg, #FD877F 0%, #DE9948 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}

.header_cost-box:hover {
  background: linear-gradient(90deg, #fd877fcc 0%, #de9848d0 100%);
}

.detail_footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  position: relative;
}

.footer-info {
  width: 430px;
  padding: 10px;
  background-color: #FEA7A7;
  border-radius: 30px 30px 0 0;
  bottom: 0;
  margin-top: 20px;

}

.footer-info p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20.57px;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 11px 0;

}

.footer-info h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
  margin-bottom: 5px;
}

.footer-info.open {
  animation: slide-up 1s forwards;
}

.footer-info h4 {
  margin: 11px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;

}

.box-info {
  display: flex;
  margin-bottom: 11px;
}

.box-info img {
  margin-right: 19px;
}

.name-au h5 {
  font-size: 17px;
  font-weight: 700;
  line-height: 20.57px;
  text-align: left;
  margin-bottom: 2px;
  color: #000;
}

.name-au span {
  font-family: Inter;
  font-size: 17px;
  font-weight: 700;
  line-height: 20.57px;
  text-align: left;
  color: #596266;

}

.box-temp1 {
  display: flex;
}

.box-temp1 .ctg {
  border-radius: 8px;
  background: #F8FFCD;
  padding: 7px 5px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.57px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-right: 24px;
}

.box-temp1 .ctg:hover {
  cursor: pointer;
  text-decoration: underline;
}

.underline {
  display: block;
  border: 1px solid #00000080;
  margin: 9px 0 19px 0;
}

.box-temp2 {
  display: flex;
  margin-bottom: 19px;

}

.box-info1 {
  width: 258px;
  height: 176px;
  top: 1124px;
  left: 1007px;
  gap: 0px;
  border-radius: 30px;
  opacity: 0px;
  background: #CAFFFC;
  padding: 30px 33px;

}

.eval {
  font-size: 22px;
  font-weight: 700;
  line-height: 31.47px;
  text-align: left;
  margin-bottom: 27px;
}

.eval i {
  font-size: 22px;
  color: #FF6B00;
}

.box-info1 p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20.57px;
  letter-spacing: 0.06em;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.box-cmt {
  width: 372px;
  height: auto;
  border-radius: 30px;
  padding: 19px 25px;
}

.box-cmt p {
  display: flex;
  font-size: 17px;
  font-weight: 400;
  line-height: 20.57px;
  letter-spacing: 0.06em;
}

.box-cmt p span {
  display: block;
  width: 110px;
}

.box-cmt h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  margin-top: 0;

}

.box-cmt p i {
  color: #FF6B00;
}

.y-cmt {
  background: #FFFFFF;
  margin-bottom: 19px;
}

.f-cmt {
  background-color: #E2E2E2;
  margin-bottom: 21px;
}

.box-com {
  width: 373px;
  max-height: 685px;
  min-height: 250px;
  border-radius: 30px;
  background-color: #FFFFFF;
  padding: 24px 19px;
  overflow: auto;
}

.box-com h4 {
  margin-top: 0;
  margin-left: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;

}

.list-eval {
  list-style: none;
  margin-left: 0;
}

.item-eval {
  width: 335px;
  height: auto;
  border-radius: 16px;
}

.box-cmt input {
  border: none;
  padding: 10px 0;
  width: 100%;
  outline: none;
}

.box-temp2__footer {
  text-align: right;
}

.box-temp2__footer span {
  font-size: 15px;
  font-weight: 700;
  line-height: 18.15px;
  text-align: left;
  cursor: pointer;
}

@keyframes slide-up {
  from {
    max-height: 0%;
  }

  to {
    max-height: 70%;
    /* Chiều cao khi mở rộng */
  }
}

.tool {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px 50px 0 0;
  z-index: 0;
}

.tool span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.tool i {
  margin-bottom: 5px;
  font-size: 20px;
}

.header_like .non-heart.active {
  display: none;
}

.header_like .non-heart.active+.heart {
  display: inline-block;
}

.bx {
  width: 55px;
  padding: 4px;
  border-radius: 23px;
  background: #fff;
  margin: 0 auto 11px;
  display: block;
}