.homepage {
  max-width: 430px;
  height: 932px;
  background: linear-gradient(360deg, #e4f2ff 0%, #cbb7da 50%, #32587a 100%);
  font-size: 1.7rem;
  position: relative;
  font-family: intern;
  overflow-x: hidden;
}

.homepage_body {
  width: 100%;
  height: 932px;
  overflow: auto;
}

.list-header {
  margin: 118px 0px 19px 40px;
}

.list1 {
  list-style: none;
  padding-left: 0;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}

.list1-item img {
  border-radius: 14px;
  margin-right: 26px;
}

.list_header {
  display: flex;
  align-items: center;
  position: relative;
  width: 410px;
}

.list_header i {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 14px;
}

.list_header h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 31px;
}

.list-continue {
  margin-bottom: 19px;
}

.list2 {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.list2-item {
  margin-right: 26px;
}

.box-list2-item {
  margin-bottom: 8px;
  display: flex;
  width: 351px;
  background: #b7d8f8;
  align-items: center;
}

.list2_book-info {
  padding: 9px 23px;
  width: 200px;
}

.list2_name {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: left;
  font-family: intern;
}

.sn {
  display: block;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  font-family: intern;
  margin-bottom: 10px;
}

.list2-item i {
  position: relative;
  right: -15px;
  font-size: 28px;
}

.list3 {
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
  display: flex;
  overflow-x: auto;
}

.list3-item {
  position: relative;
  padding: 20px;
  margin-right: 11px;
}

.list3-item span {
  z-index: 100;
  position: absolute;
  top: 26px;
  left: 7px;
  font-size: 60px;
  font-weight: 700;
}

.homepage_footer {
  position: relative;
  bottom: 0;
}

.list4 {
  list-style: none;
  padding-left: 0;
  display: flex;
  overflow-x: auto;
  margin-left: 10px;
}

.list4-item {
  margin-right: 22px;
}

.list4-item img {
  display: flex;
  margin-bottom: 27px;
}