:root{
    --text-color: black;
    --background-color: linear-gradient(360deg, #e4f2ff 0%, #cbb7da 50%, #32587a 100%);
    --font-fam: intern;
    --font-wei: bold;
    --full-wid: 430px;
    --full-height: 932px;
}

.font{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
}

.icon{
    font-size: 25px;
    cursor: pointer;
}

.box{
    width: 430px;
    height: 932px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.box--playbackpage{
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    padding: 10px;
    box-sizing: border-box;
}

.fa-share-nodes{
    margin-left: 87%;
}

.pb-image{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.book-image{
    width: 300px;
    height: 520px;
    border-radius: 10px;
}

.book-name{
    display: grid;
    place-items: center;
    font-size: 25px;
}

.chapter-number{
    align-self: flex-start;
    padding-left: 15px;
    padding-top: 30px;
    font-size: 15px;
}

.progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.progress-bar{
    height: 7px;
    border-radius: 10px;
    width: 90%;
    background-color: #ccc4;
}

.time-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.progress{
    position: relative;
    height: 100%;
    width: 10%;
    border-radius: 10px;
    background-color: #ccc7;
}

.progress-handle{
    position: relative;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: white;
}
.progress-bar:hover .progress-handle{
    height: 20px;
    width: 20px;
    top: -14px;
    left: 25px;
    cursor: pointer;
}

.progress-bar:hover .progress{
    background-color: white;
    cursor: pointer;
}

.functionbutton-container{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#progress-slider {
    width: 90%;
}

.button-play {
    width: 50px;
    height: 50px;
    line-height: 75px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    color: black;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-blue 1s linear infinite;
    -webkit-transition: 0.5s;
    background: whitesmoke;
    font-size: 28px;
    z-index: 44;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
  }

  @keyframes ripple-blue {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(194, 198, 196, 0.3),
        0 0 0 10px rgba(201, 202, 202, 0.3), 0 0 0 20px rgba(203, 208, 205, 0.3);
      box-shadow: 0 0 0 0 rgba(198, 202, 200, 0.3),
        0 0 0 10px rgba(206, 211, 208, 0.3), 0 0 0 20px rgba(219, 224, 222, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(216, 211, 211, 0.882),
        0 0 0 20px rgba(208, 214, 211, 0.3), 0 0 0 30px rgba(29, 192, 113, 0);
      box-shadow: 0 0 0 10px rgba(211, 214, 213, 0.3),
        0 0 0 20px rgba(213, 216, 215, 0.3), 0 0 0 30px rgba(29, 192, 113, 0);
    }
  }

  .optionbutton--container{
    width: 100%;
    height: 75px;
    position: absolute;
    margin-left: -10px;
    bottom: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
  }


.btn--content{
    font-size: 10px;
}

.btn{
    width: 75px;
    height: 75px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} 

.box--chapterlist{
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.col-chap{
    flex-direction: column;
}

.chapter-time{
    font-size: 15px;
    color: #a49f9f;
}

.box--timer{
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color: whitesmoke;
    
}

.interact-bar{
    margin-left: 150px;
    height: 10px;
    border-radius: 10px;
    width: 20%;
    background-color: rgba(74, 72, 72, 0.267);
    cursor: pointer;
}

.container_list {

    margin-top: 130px;
    background-color: white;
    padding: 25px;
    font-family: monospace;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.row_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.user-confirm{
    height: 80px;
    display: grid;
    place-items: center;
    background-color: white;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.user-confirm :active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background: var(--background-color);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
} 

.confirm-button{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    background-color: #a49f9f;
    cursor: pointer;
}

.radio-design {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: greenyellow;
    position: relative;
    cursor: pointer;
}

.box--speed{
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.container-list-speed{
    margin-top: 700px;
    background-color: white;
    padding: 25px;
    font-family: monospace;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.speed-bar{
    width: 380px;
    height: 10px;
    background-color: #a49f9f;
    border-radius: 10px;
    cursor: pointer;
}

.current-speed{
    position: relative;
    width: 14.3%;
    height: 10px;
    background-color: rgb(237, 96, 143);
    border-radius: 10px;
    cursor: pointer;
}

.speed-bar-handle{
    position: relative;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: rgb(237, 96, 143);
}

.speed-bar:hover .speed-bar-handle{
    position: relative;
    height: 20px;
    width: 20px;
    top: -15px;
    left: 45px;
    cursor: pointer;
}

.speed-column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.speedindex-bar{
    display: grid;
    place-items: center;
    margin-top: 10px;
    display: grid;
    place-items: center;
    height: 10px;
    width: 5px;
    background-color: #a49f9f;
}

.speed-index{
    margin-top: 10px;

}

.box--preplaybackpage{
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    padding: 10px;
    box-sizing: border-box;
}

.ppb-image{

}

.ppb-image__book-image{
    width: 200px;
    height: 320px;
    border-radius: 10px;
}

.bookinfo-container{
    display: grid;
    place-items: center;
}

.ppb-bookinfo-container__bookName{
    margin: 10px;
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 25px;
}

.ppb-bookinfo-container__authorName{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 15px;
}

.ppb-bookinfo-container__reviewNum{
    margin: 15px;
    font-family: var(--font-fam);
    font-size: 15px;
}

.soB-freeContainer{
    display: flex;
}

.soB-freeContainer__freeBar{
    display: grid;
    place-items: center;
    width: 350px;
    height: 30px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #a49f9f;
    cursor: pointer;
}

.soB-freeContainer__freeBarWord{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 15px;
}

.soB-sellContainer{
    margin-top: 15px;
    width: 410px;
    height: 100px;
    background-color: white;
    border-radius: 40px;
}

.soB-sellContainer__sellinfo{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.soB-sellContainer__sellinfoWord{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 15px;
}

.soB-sellContainer__sellinfoPrice{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 15px;
}

.soB-sellContainer__sellBar{
    display: grid;
    place-items: center;
}

.soB-sellContainer__sellBarButton{
    width: 300px;
    height: 30px;
    background: linear-gradient(#e66465, #ec743d);
    border-radius: 15px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.soB-sellContainer__sellBarWord{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 15px;
    color: white;
}

.introduce-scpritBox{
    flex: 1;
    margin-top: 20px;
    width: 430px;
    height: 288px;
    background-color: #e66465;
    margin-left: -10px;
    margin-right: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.isB__content{
    padding: 20px;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    height: 60px;
    width: var(--full-wid);
    background-color: white;
    margin-left: -10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.footer :hover{
    color: grey;
}

.footer :active{
    color: white;
}

.footerfont{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 15px;
    margin-left: -25px;
    cursor: pointer;
}

.box--homePage{
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    padding: 10px;
    box-sizing: border-box;
}

.HP-bookContainer{
    display: flex;
    flex-direction: row;
    width: 100% 5px;
    height: 520px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.img1, .img2{
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
}

.HP-continueContainer{
    width: 350px;
    height: 125px;
    background-color: lightblue;
}

.HP-continueContainer__continueBox{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 125px;
    background-color: lightblue;
}

.cC-continueBox__bookImage{
    height: inherit;
    width: 100px;
}

.cC-continueBox__bookImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cC-continueBox__bookInfo{
    padding: 10px 10px 10px 20px;
}

.cB-bookInfo__bookType{
    padding: 10px 10px 10px 0;
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 15px;
}

.cB-bookInfo__bookName{
    font-family: var(--font-fam);
    font-weight: var(--font-wei);
    font-size: 25px;
}
