.avatar-group {
 
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 20px;
  position: -webkit-sticky;
  z-index: -1;
  position: sticky;
  top: 0;
}

.avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
}

.avatar-name {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.content {
  flex-grow: 1;
  padding-bottom: var(--bottom-nav-height);
  background: #dff0ff;
  border-radius: 34px 34px 0 0;
}

.info-button-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 50px;
  gap: 35px;
}

.info-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info-button-icon {
  font-size: 2em;
}

.info-button-text {
  font-size: 24px;
  font-weight: bold;
}

.list-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header-text {
  font-size: 18px;
  font-weight: bold;
}

.list-header-filter {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 15px;
}

.book-button-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 40px;
  gap: 35px;
}

.book-button-list > li {
  width: 100%;
}

.book-button-wrapper {
  height: 108px;
  display: flex;
  align-items: stretch;
  background: #ffdcc2;
  border-radius: 0 26px 26px 0;

  width: 100%;
}

.book-cover {
  width: 95px;
  height: inherit;
}

.book-text-group {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 13px;
  gap: 2px;
  min-width: 0;
}

.book-type {
  font-size: 14px;
  font-weight: medium;
}

.book-title {
  max-width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
}

.play-button {
  font-size: 1.5em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
