.signup_header {
  padding: 188px 51px 56px 51px;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  font-family: Inter;
}

.button {
  width: 328px;
  height: 42px;
  margin: 31px 51 31 51;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid #ccc;
  border-radius: 22px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  background-color: #ffffff;
  line-height: 24.2px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Inter;
}

.button i {
  font-size: 35px;
  margin: 3px 16px 4px 13px;
}

.button:hover {
  opacity: 0.7;
}

p {
  margin-top: 20px;
  color: #333;
}

#login {
  color: #f60;
  text-decoration: none;
}

#login:hover {
  text-decoration: underline;
}

.signin {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  margin: 218px 76px 0 75px;
}
