* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
 }

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    background-color: #ccc;
    font-family: Inter;
}
.app_body{
    max-width: 430px;
    width: 100%;
    height: 932px;
    background: linear-gradient(360deg, #E4F2FF 0%, #CBB7DA 50%, #32587A 100%);
    font-size: 1.7rem;
    position: relative;
}
.tool {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px 50px 0 0;
    z-index: 0;
}

.tool span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.tool i {
    margin-bottom: 5px;
    font-size: 20px;
}

/* search */
.header__search {
    display: flex;
    align-items: center;
}

.header__search-input-wrap{
    padding: 10px 0 10px 10px;
}

.header__search-input{
    width: 300px;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.header__search-btn{
    height: 34px;
    line-height: 34px;
    padding: 0 14px;
    font-size: 1.2rem;
    margin-left: 3px;
    border-radius: 1px;
    background: #e5e6e9;
    border: none;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
.search_header {
    padding: 15px;
    text-align: center;
}
.search_header h2 {
    padding: 15px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    color: #fff;
}
.search_body {
    display: flex;
}
.category {
    flex: 1;
    padding: 12px;
    background-color: #fff;
    color: #000;
    margin-right: 12px;
    border-radius: 20px;
    height: 710px;
    text-align: center;
    overflow: auto;
}
.category h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    margin-bottom: 19px;

}
.list_ctg {
    list-style: none;

}
.item_ctg {
    padding: 12px;
    background: #D1D1D096;
    border-radius: 9px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    cursor: pointer;

}
.item_ctg:hover {
    background: #d1d1d06b;
}
.box_list {
    flex: 2.4;
    padding: 12px;
    background: #DBF0FF;
    color: #000;
    border-radius: 20px;
    height: 710px;
    overflow: auto;
}
.header-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
    position: relative;;
}
.header-list span {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
}
.header-list .sort {
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
}
.box_sort {
    position: absolute;
    width: 264px;
    height: 168px;
    border-radius: 29px;
    background: #FFFFFF;
    padding: 12px;
    top: 20px;
    transform: scale(0);
    animation: appearFromSmall 0.5s forwards;
    display: none;
    z-index: 100;
}
.box_sort.active {
    display: block;
}
.box_sort span {
    display: block;
}
.bx {
    
    width: 55px;
    padding: 4px;
    border-radius: 23px;
    background: #BDBDBD;
    margin: 0 auto 11px;
}
.box_sort h4{

    font-size: 20px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    margin-bottom: 6px;

}
.box_sort .bx1 {
    width: 100%;
    padding: 6px 12px;
    border-radius: 9px;
    margin-bottom: 12px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 14px;
}
.green {
    background: #BFFFD1;
}
.red {
    background: #FFBFBF;
}

@keyframes appearFromSmall {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.list_book {
    list-style: none;
}
.item_book {
    display: flex;
    background: #FFDCC2;
    margin-bottom: 24px;

}
.img {
    flex: 84;
    display: block;
    width: 84px;
    margin-right: 5px;
}
.info {
    flex: 184;
    padding: 10px 10px 0 10px;
    font-size: 12px;
    position: relative;
}
.info h4 {
    margin-top: 13px;
    font-size: 15px;
    font-weight: bold;
    line-height: 18.15px;   
}
.info .author {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px ;
}
.info .rate {
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.info .rate .fa-solid {
    color: #FF6B00;
}
