<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, initial-scale=1.0, width=device-width, height=device-height"
    />
    <title>Create Account</title>
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Tạo tài khoản miễn phí</h1>
      <div class="container">
        <div class="button" id="facebook">
          <i class="fa fa-facebook"></i> Tiếp tục với Facebook
        </div>
        <div class="button" id="google">
          <i class="fa fa-google"></i> Tiếp tục với Google mail
        </div>
        <div class="button" id="email">
          <i class="fa fa-envelope"></i> Tiếp tục với Email
        </div>
        <div class="button" id="phone">
          <i class="fa fa-phone"></i> Tiếp tục với Số điện thoại
        </div>
      </div>

      <div class="signin">
        <p>Đã có tài khoản? <a href="signin.html" id="login">Đăng nhập</a></p>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
