<div class="phone-wrapper">
  <div class="avatar-group">
    <img class="avatar-img" src="assets/placeholders/avatar.png" />
    <div class="avatar-name">Full Name</div>
  </div>

  <main class="content">
    <div class="list-header">
      <div class="list-header-text fw-bolder">Yêu thích</div>
      <div class="list-header-filter">
        <i class="fa fa-sort-amount-desc"></i>
        <div class="fw-bolder">Sắp xếp</div>
      </div>
    </div>

    <ul class="book-button-list">
      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="assets/placeholders/book-cover.png" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">Thằng quỷ nhỏ</div>
          </div>
          <div class="play-button">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </li>

      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="assets/placeholders/book-cover.png" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">Thằng quỷ nhỏ</div>
          </div>
          <div class="play-button">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </li>

      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="assets/placeholders/book-cover.png" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">Thằng quỷ nhỏ</div>
          </div>
          <div class="play-button">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </li>

      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="assets/placeholders/book-cover.png" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">Thằng quỷ nhỏ</div>
          </div>
          <div class="play-button">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </li>

      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="assets/placeholders/book-cover.png" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">Thằng quỷ nhỏ</div>
          </div>
          <div class="play-button">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </li>

      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="assets/placeholders/book-cover.png" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">Thằng quỷ nhỏ</div>
          </div>
          <div class="play-button">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </li>

      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="assets/placeholders/book-cover.png" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">Thằng quỷ nhỏ</div>
          </div>
          <div class="play-button">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </li>
    </ul>
  </main>

  <nav class="bottom-nav">
    <ul class="nav-button-group">
      <li>
        <a class="nav-button" aria-current="page" href="#">
          <div class="nav-button-icon">
            <i class="fa fa-home"></i>
          </div>
          <div class="nav-button-text">Trang chủ</div>
        </a>
      </li>

      <li>
        <a class="nav-button" href="#">
          <div class="nav-button-icon">
            <i class="fa fa-search"></i>
          </div>
          <div class="nav-button-text">Tìm kiếm</div>
        </a>
      </li>

      <li>
        <a class="nav-button active" aria-current="page" href="#">
          <img class="nav-button-icon" src="assets/placeholders/avatar.png" />
          <div class="nav-button-text">Tài khoản</div>
        </a>
      </li>
    </ul>
  </nav>
</div>