{{#content "css" mode="append"}}
<link rel="stylesheet" href="/css/auth.css" />
{{/content}}

<main class="wrapper">
  <h1>Quên mật khẩu</h1>
  <form method="POST" action="/forgot-password">
    <div class="input-text">
      <sl-input id="email" type="email" placeholder="Nhập email" name="email" size="large" pill required></sl-input>
    </div>

    {{#if messFailed}}
    <div>
      <p class="error-noti">{{messFailed}}</p>
    </div>
    {{/if}}

    <sl-button class="confirm-button" size="large" type="submit" pill>Xác nhận</sl-button>
  </form>

  <div class="link-group">
    <a class="link" href="/signin">
      <sl-icon name="chevron-left"></sl-icon>
      Quay lại
    </a>
  </div>
</main>