<div class="homepage">
  <div class="homepage_body">
    <div class="list-header">
      <ul class="list1">
        {{#each sliders}}
        <li class="list1-item">
          {{!-- {{sliders}} --}}
          <a href="./detail">
            <img src="{{coverPath}}" alt="" height="534" width="315">
          </a>
          {{!-- <img src="assets/img/cgdthq.jpg" alt="" height="534" width="315" /> --}}
        </li>
        {{/each}}
        {{!-- <li class="list1-item">
          <img src="assets/img/cgdthq.jpg" alt="" height="534" width="315" />
        </li>
        <li class="list1-item">
          <img src="assets/img/cgdthq.jpg" alt="" height="534" width="315" />
        </li>
        <li class="list1-item">
          <img src="assets/img/cgdthq.jpg" alt="" height="534" width="315" />
        </li>
        <li class="list1-item">
          <img src="assets/img/cgdthq.jpg" alt="" height="534" width="315" />
        </li> --}}
      </ul>
    </div>
    <div class="list-continue">
      <div class="list_header">
        <h4>Tiếp tục</h4>
      </div>
      <ul class="list2">
        <li class="list2-item">
          <div class="box-list2-item">
            <img src="assets/img/cgdthq.jpg" alt="" height="108" width="95" />
            <div class="list2_book-info">
              <span class="sn">Sách nói</span>
              <span class="list2_name">Bong bóng lên trời</span>
            </div>
            <i class="fa-solid fa-play"></i>
          </div>
          <div class="box-list2-item">
            <img src="assets/img/cgdthq.jpg" alt="" height="108" width="95" />
            <div class="list2_book-info">
              <span class="sn">Sách nói</span>
              <span class="list2_name">Bong bóng lên trời</span>
            </div>
            <i class="fa-solid fa-play"></i>
          </div>
        </li>
        <li class="list2-item">
          <div class="box-list2-item">
            <img src="assets/img/cgdthq.jpg" alt="" height="108" width="95" />
            <div class="list2_book-info">
              <span class="sn">Sách nói</span>
              <span class="list2_name">Bong bóng lên trời</span>
            </div>
            <i class="fa-solid fa-play"></i>
          </div>
          <div class="box-list2-item">
            <img src="assets/img/cgdthq.jpg" alt="" height="108" width="95" />
            <div class="list2_book-info">
              <span class="sn">Sách nói</span>
              <span class="list2_name">Bong bóng lên trời</span>
            </div>
            <i class="fa-solid fa-play"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-topStory">
      <div class="list_header">
        <h4>Top Sách Nói Thịnh Hành
          <img src="assets/img/cup.png" alt="" width="28" height="27" /></h4>
        <i class="fa-solid fa-chevron-right"></i>
      </div>

      <ul class="list3">
        <li class="list3-item">
          <span>1</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>2</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>3</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>4</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>5</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>6</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>7</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>8</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>9</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
        <li class="list3-item">
          <span>10</span>
          <img src="assets/img/cgdthq.jpg" alt="" width="105" height="185" />
        </li>
      </ul>
    </div>
    <div class="list_loveStory">
      <div class="list_header">
        <h4>Dựa Trên Gu Của Bạn
          <img
            src="assets/img/icon-love.png"
            alt=""
            width="28"
            height="27"
          /></h4>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <ul class="list4">
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
        <li class="list4-item">
          <img src="assets/img/cgdthq.jpg" alt="" width="117" height="188" />
          <img src="assets/img/hhxk.jpg" alt="" width="117" height="188" />
        </li>
      </ul>
    </div>
  </div>
  <div class="homepage_footer">
    <div class="tool">
      <span>
        <i class="fa-solid fa-house"></i>
        Trang chủ
      </span>
      <span>
        <i class="fa-solid fa-magnifying-glass"></i>
        Tìm kiếm
      </span>
      <span>
        <i class="fa-solid fa-paw"></i>
        Tài khoản
      </span>
    </div>
  </div>
</div>