{{#content "css" mode="append"}}
  <link rel="stylesheet" href="/css/playback.css" />
  <link rel="stylesheet" href="/css/playbackMenu.css" />
{{/content}}

{{#content "js" mode="append"}}
  <script src="/js/playback.js"></script>
  <script src="/js/playbackMenu.js"></script>
{{/content}}

<div class="stop-scrolling">
    <div class="box box--playbackpage">
        <div class="topscreen--icon">
            <i class="icon fa-solid fa-arrow-left"></i>
            <i class="icon fa-solid fa-share-nodes"></i>
        </div>
        <div class="pb-image">
            <img class ="book-image" src="./assets/img/Book-Image1.jpg" alt="">
            <h1 class="font book-name">Cô gái đến từ hôm qua</h1>
            {{!-- <div class="font book-name">{{bookname}}</div> --}}
        </div>
        <div class="progress-container" id="progress-container">
            <div class="font chapter-number">Chương 1</div>
            {{!-- <div class="progress-bar"> --}}
                {{!-- <div class="progress"></div>  --}}
                {{!-- <div class="progress-handle"></div> --}}
                {{!-- <input type="range class="progress" id="audio-progress" max="100" value="0"> --}}
            {{!-- </div> --}}
            {{!-- TODO: Update progress using audioPlayer attribute --}}
            <input type="range" id="progress-slider" max="100" value="0">
            <audio id="audioPlayer" preload="metadata">
                <!-- <source src="/audio" type="audio/mpeg">
                Your browser does not support the audio element. -->
            </audio>
            <div class="time-container">
                {{!-- TODO: Update progress using audioPlayer attribute --}}

                <div class="font time-current" id="current-time">
                    0:00
                </div>
                <div class="font time-duration" id="duration">
                    -:--
                </div>
            </div>
        </div>
        <div class="functionbutton-container">
            {{!-- TODO: Add event for this button--}}
            <div class="backward-step">
                <button onclick="alert('Prev chapter')">
                    <i class="icon fa-solid fa-backward-step"></i>
                </button>
            </div>
            {{!-- TODO: Add event for this button--}}
            <div class="backward-button">
                {{!-- <button onclick="alert('Back 10s')"> --}}
                <button onclick="document.getElementById('audioPlayer').currentTime -= 10">
                    <i class="icon fa-solid fa-arrow-rotate-left"></i>
                </button> 
            </div>

            {{!-- TODO: Add event for this button--}}
            {{!-- <button onclick="alert('Play')"> --}}
            <button> 
                <div class="button-play">
                    {{!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"></path>
                    </svg> --}}
                    <i class="fa-solid fa-play"></i>
                </div>
            </button>
            {{!-- TODO: Add event for this button--}}
            <div class="forward-button">
                {{!-- <button onclick="alert('Skip 10s')"> --}}
                <button onclick="document.getElementById('audioPlayer').currentTime += 10">
                    <i class="icon fa-solid fa-arrow-rotate-right"></i>
                </button> 
            </div>

            <div class="forward-step">
                <button onclick="alert('Next chapter')">
                    <i class="icon fa-solid fa-forward-step"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="optionbutton--container">
        <button class="btn btn--Timer">
            <i class="icon fa-regular fa-clock"></i>
            <div class="btn--content">
                Hẹn giờ
            </div>
        </button>
        <div class="btn btn--Chapter">
            <i class="icon fa-solid fa-list"></i>
            <div class="btn--content">
                Chương
            </div>
        </div>
        <div class="btn btn--Speed">
            <div class="icon speed-amount">1.0x</div>
            <div class="btn--content">
                Tốc độ
            </div>
        </div>
        {{!-- <div class="btn btn--Voice">
            <div class="icon voice-name">MAI</div>
            <div class="btn--content">
                Đổi giọng
            </div>
        </div> --}}
    </div>

    <!-- Màn hình thời gian -->

    <div class="box box--timer slider">
        <div class="container_list">
            <div class="interact-bar-timer interact-bar"></div>
            <h3 style="font-size: 20px;">HẸN GIỜ</h3>
            <p>Ngừng phát khi hết giờ</p>
            <div class="row_list">
                <p> Không hẹn giờ </p>
                <label>
                   <input class="radio-design" type="radio" />
                </label> 
             </div>
            <div class="row_list">
               <p> 5 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 10 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 15 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 20 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 30 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 40 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>

            <div class="row_list">
               <p> 50 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>

            <div class="row_list">
               <p> 60 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
        </div>
        <div class="user-confirm">
            <button class="confirm-button">Xác nhận</button>
        </div>
    </div>

    <!-- Màn hình chương -->

    <div class="box box--chapterlist slider">
        <div class="container_list">
            <div class="interact-bar-chapter interact-bar"></div>
            <h3 style="font-size: 20px;">CHƯƠNG</h3>
            <p> Chương và thời gian dự tính </p>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 1 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
                <label>
                   <input class="radio-design" type="radio" />
                </label> 
             </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 2 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 3 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 4 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 5 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 6 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
        </div>
        <div class="user-confirm">
            <button class="confirm-button">Xác nhận</button>
        </div>
    </div>

    <!-- Màn hình hiển thị tốc độ đọc -->

    <div class="box box--speed slider">
        <div class="container-list-speed">
            <div class="interact-bar-speed interact-bar"></div>
            <h3 style="font-size: 20px;">Tốc độ phát</h3>
            <div class="speed-bar">
                <div class="current-speed"></div>
                <div class="speed-bar-handle"></div>
            </div>
            <div class="speed-column">
                <div class="speedindex-bar">
                    <div class="speed-index">0.25</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">0.5</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">0.75</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1.25</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1.5</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1.75</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">2</div>
                </div>
            </div>
        </div>
        <div class="user-confirm">
            <button class="confirm-button">Xác nhận</button>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        $('.box--playbackpage').click(function() {
            $('.box--timer').removeClass('open-timer');
            $('.box--chapterlist').removeClass('open-chapter');
            $('.box--speed').removeClass('open-speed');
        })

        $('.btn--Timer, .interact-bar-timer').click(function() {
            $('.box--timer').toggleClass('open-timer');
        });

        $('.btn--Chapter, .interact-bar-chapter').click(function() {
            $('.box--chapterlist').toggleClass('open-chapter');
        });

        $('.btn--Speed, .interact-bar-speed').click(function() {
            $('.box--speed').toggleClass('open-speed');
        });
    });
</script>

{{!-- <script>
    async function fetchAudioUrl() {
        try {
            //const response = await fetch('/get-audio-url?chapters=' + 
            //                document.getElementById("chapters").value);
            const response = await fetch('/get-audio-url?chapters=0');
            const data = await response.json();
            const audioPlayer = document.getElementById('audioPlayer');
            audioPlayer.src = data.url;
        } catch (error) {
            console.error('Error fetching audio URL:', error);
        }
    }
    
    fetchAudioUrl();
    alert('Press play button to start');
</script> --}}