{{#content "css" mode="append"}}
  <link rel="stylesheet" href="/css/playback.css" />
{{/content}}

<div class="box box--playbackpage">
        <div class="topscreen--icon">
            <i class="icon fa-solid fa-arrow-left"></i>
            <i class="icon fa-solid fa-share-nodes"></i>
        </div>
        <div class="pb-image">
            <img class ="book-image" src="./assets/img/Book-Image1.jpg" alt="">
            <div class="font book-name">Cô gái đến từ hôm qua</div>
        </div>
        <div class="progress-container">
            <div class="font chapter-number">Chương 1</div>
            <div class="progress-bar">
                <div class="progress"></div>
                <div class="progress-handle"></div>
            </div>
            <div class="time-container">
                <div class="font time-current">
                    0:5:20
                </div>
                <div class="font time-remain">
                    -0:55:40
                </div>
            </div>
        </div>
        <div class="functionbutton-container">
            <div class="forward-step">
                <i class="icon fa-solid fa-forward-step"></i>
            </div>
            <div class="backward-button">
                <i class="icon fa-solid fa-arrow-rotate-left"></i>
            </div>
            <div class="button-play">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"></path>
                </svg>
            </div>
            <div class="forward-button">
                <i class="icon fa-solid fa-arrow-rotate-right"></i>
            </div>
            <div class="backward-step">
                <i class="icon fa-solid fa-backward-step"></i>
            </div>
        </div>
        <div class="optionbutton--container">
            <div class="btn btn--Timer">
                <i class="icon fa-regular fa-clock"></i>
                <div class="btn--content">
                    Hẹn giờ
                </div>
            </div>
            <div class="btn btn--Chapter">
                <i class="icon fa-solid fa-list"></i>
                <div class="btn--content">
                    Chương
                </div>
            </div>
            <div class="btn btn--Speed">
                <div class="icon speed-amount">1.0x</div>
                <div class="btn--content">
                    Tốc độ
                </div>
            </div>
            <div class="btn btn--Voice">
                <div class="icon voice-name">MAI</div>
                <div class="btn--content">
                    Đổi giọng
                </div>
            </div>
        </div>
    </div>

    <!-- Màn hình chương -->

    {{!-- <div class="box box--chapterlist">
        <div class="container_list">
            <div class="interact-bar"></div>
            <h3 style="font-size: 20px;">CHƯƠNG</h3>
            <p> Chương và thời gian dự tính </p>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 1 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
                <label>
                   <input class="radio-design" type="radio" />
                </label> 
             </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 2 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 3 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 4 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 5 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
                <div class="col_chap">
                    <p> Chương 6 </p>
                    <p class = "chapter-time" > 60 phút</p>
                </div>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
        </div>
        <div class="user-confirm">
            <button class="confirm-button">Xác nhận</button>
        </div>
    </div>
    </div>

    <!-- Màn hình thời gian -->

    <div class="box box--timer">
        <div class="container_list">
            <div class="interact-bar"></div>
            <h3 style="font-size: 20px;">HẸN GIỜ</h3>
            <p>Ngừng phát khi hết giờ</p>
            <div class="row_list">
                <p> Không hẹn giờ </p>
                <label>
                   <input class="radio-design" type="radio" />
                </label> 
             </div>
            <div class="row_list">
               <p> 5 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 10 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 15 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 20 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 30 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
            <div class="row_list">
               <p> 40 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>

            <div class="row_list">
               <p> 50 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>

            <div class="row_list">
               <p> 60 phút </p>
               <label>
                  <input class="radio-design" type="radio" />
               </label> 
            </div>
        </div>
        <div class="user-confirm">
            <button class="confirm-button">Xác nhận</button>
        </div>
    </div>

    <!-- Màn hình hiển thị tốc độ đọc -->

    <div class="box box--speed">
        <div class="container-list-speed">
            <div class="interact-bar"></div>
            <h3 style="font-size: 20px;">Tốc độ phát</h3>
            <div class="speed-bar">
                <div class="current-speed"></div>
                <div class="speed-bar-handle"></div>
            </div>
            <div class="speed-column">
                <div class="speedindex-bar">
                    <div class="speed-index">0.25</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">0.5</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">0.75</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1.25</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1.5</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">1.75</div>
                </div>
                <div class="speedindex-bar">
                    <div class="speed-index">2</div>
                </div>
            </div>
        </div>
        <div class="user-confirm">
            <button class="confirm-button">Xác nhận</button>
        </div>
            </div>
        </div>
    </div>
</div> --}}

