{{#> profile}}
<div class="list-header">
  <div class="list-header-text">{{ listName }}</div>
  {{!-- <div class="list-header-filter">
    <i class="fa-solid fa-arrow-down-wide-short"></i>
    <div class="fw-bolder">Sắp xếp</div>
  </div> --}}
</div>

<ul class="book-button-list">
  {{#each user.favoriteList}}
  <li>
    <div class="book-button-wrapper">
      <img class="book-cover" src="{{ this.coverPath }}" />
      <div class="book-text-group">
        <div class="book-type">Sách nói</div>
        <div class="book-title">{{ this.bookName }}</div>
      </div>
      <div class="play-button">
        <a href="/detail?id={{this.id}}">
          <i class="fa-solid fa-play"></i>
        </a>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
{{/profile}}