{{#> profile}}
  <div class="list-header">
    <div class="list-header-text">{{ listName }}</div>
    <div class="list-header-filter">
      <i class="fa-solid fa-arrow-down-wide-short"></i>
        <div class="fw-bolder">Sắp xếp</div>
    </div>
  </div>

  <ul class="book-button-list">
    {{#each user.favoriteList}}
      <li>
        <button class="book-button-wrapper">
          <img class="book-cover" src="{{ book.coverPath }}" />
          <div class="book-text-group">
            <div class="book-type">Sách nói</div>
            <div class="book-title">{{ book.bookName }}</div>
          </div>
          <div class="play-button">
            <i class="fa-solid fa-play"></i>
          </div>
        </button>
      </li>
    {{/each}}
  </ul>
{{/profile}}
