{{#content "css" mode="append"}}
  <link rel="stylesheet" href="/css/search.css">
{{/content}}

{{#content "js" mode="append"}}
  <link rel="stylesheet" href="/js/search.js">
{{/content}}

<div class="app_body1">
        <div class="search_header">
            <h2>TÌM KIẾM</h2>
            <div class="header__search">
                <div class="header__search-input-wrap">
                    <input id="search-input"  type="text" class="header__search-input" placeholder="Tìm kiếm tên sách, tác giả">
                    <!-- Search history -->
                    <div class="header__search-history">

                    </div>
                </div>

                <button id="search-btn" class="header__search-btn">
                    <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="search_body">
            <div class="category">
                <h4>Thể loại</h4>
                <ul class="list_ctg">
                    <li class="item_ctg">Tiểu thuyết</li>
                    <li class="item_ctg">Viễn tưởng</li>
                    <li class="item_ctg">Bí ẩn</li>
                    <li class="item_ctg">Hài kịch</li>
                    <li class="item_ctg">Kinh dị</li>
                    <li class="item_ctg">Tự truyện</li>
                    <li class="item_ctg">Lãng mạn</li>
                    <li class="item_ctg">Thơ</li>
                    <li class="item_ctg">Kịch</li>
                    <li class="item_ctg">Lịch sử</li>
                    <li class="item_ctg">Khoa học</li>
                    <li class="item_ctg">Trinh thám</li>
                    <li class="item_ctg">Phiêu lưu</li>
                    <li class="item_ctg">Cổ tích</li>
                </ul>
            </div>
            <div class="box_list">
                <div class="header-list">
                    <span>Kết quả tìm kiếm</span>
                    <span class="sort"><i class="fa-solid fa-arrow-down-wide-short"></i> Sắp xếp</span>
                    <div class="box_sort">
                        <span class="bx"></span>
                        <h4>Sắp xếp kết quả</h4>
                        <span class="bx1 green">Số điểm: Từ cao đến thấp nhất</span>
                        <span class="bx1 red">Số điểm: Từ thấp đến cao nhất</span>
                    </div>
                </div>
                <ul class="list_book">
                  
                </ul>

            </div>
        </div>
</div>
