<div class="wrapper">
  <h1 class="signin_header">Hãy nhập số điện thoại của bạn</h1>
  <div class="container1">
    <div class="phone-input">
      <div class="domain-list">
        <div class="box-D">
          <span class="item-D1">Tên miền</span>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <!-- Search history -->
        <div class="domain-item">
          <ul class="list-D">
            <li class="item-D">
              <img src="assets/img/vietnam.png" alt="" height="35" width="35" />
              +84
            </li>
            <li class="item-D">
              <img src="assets/img/vietnam.png" alt="" height="35" width="35" />
              +97
            </li>
            <li class="item-D">
              <img src="assets/img/vietnam.png" alt="" height="35" width="35" />
              +85
            </li>
          </ul>

        </div>
      </div>

      <div class="input-text"><input
          type="text"
          placeholder="Số điện thoại"
        /></div>
    </div>
    <button class="confirm-button">Xác nhận</button>
    <div class="divider">
      <div
        style="border: 1px solid black; width: 75px; margin-right: 10px"
      ></div>
      <div>
        <span>Hoặc đăng nhập bằng</span>
      </div>
      <div
        style="border: 1px solid black; width: 75px; margin-left: 10px"
      ></div>
    </div>
    <div class="social-buttons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-google"></i></a>
      <a href="#"><i class="fa-regular fa-envelope"></i></a>
    </div>
  </div>

  <div class="signup">
    <p>Chưa có tài khoản? <a href="signup" id="signup">Đăng ký</a></p>
  </div>
</div>