<div class="wrapper">
      <h1>Hãy nhập số điện thoại của bạn</h1>
      <div class="container">
        <div class="phone-input">
          <div class="dropdown">
            <a
              class="btn btn-secondary dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="
                background-color: #ffff;
                color: black;
                border-radius: 100px;
                border-color: white;
                width: 148px;
                display: flex;
                justify-content: space-around;
                align-items: center;
              "
            >
              Dropdown
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div><input type="text" placeholder="Số điện thoại" /></div>
        </div>
        <button class="confirm-button">Xác nhận</button>
        <div class="divider">
          <div
            style="border: 1px solid black; width: 75px; margin-right: 10px"
          ></div>
          <div>
            <span>Hoặc đăng nhập bằng</span>
          </div>
          <div
            style="border: 1px solid black; width: 75px; margin-left: 10px"
          ></div>
        </div>
        <div class="social-buttons">
          <a href="#"><i class="fa fa-facebook-f"> </i></a>
          <a href="#"><i class="fa fa-google"> </i></a>
          <a href="#"><i class="fa fa-envelope"> </i></a>
        </div>
      </div>

      <div class="signup">
        <p>Chưa có tài khoản? <a href="signup.html" id="signup">Đăng ký</a></p>
      </div>
    </div>