{{#content "css" mode="prepend"}}
<link rel="stylesheet" href="/css/profile.css" />
{{/content}}

<div class="avatar-group">
  <img class="avatar-img" src="{{ user.avatarPath }}" />
  <p class="avatar-name">{{ user.email }}</p>
</div>

<main class="content">
  {{> @partial-block}}
</main>